html {
  overflow: hidden;
}

.human {
  z-index: 1;
  object-fit: cover;
}
.frame {
  z-index: 100;
}
.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(28, 1fr);
  z-index: 100;
}
